{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Interakiv</title>
    <link rel="icon" href="{% static "images/icon.png" %}">
    <meta name="description" content="Interakiv with the world">
    <meta name="author" content="Interakiv">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />
    <link href="{% static "chatroom/chat.css" %}" rel="stylesheet" type="text/css">

    <!-- background plugin stylesheet -->
    <link rel="stylesheet" href="//releases.flowplayer.org/background/flowplayer.background.css">
    <link href="http://vjs.zencdn.net/6.2.4/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/4.11/video.js"></script>

    {% block extend-style %}

<style type="text/css">
    body {
        background: #141828;
        color: #fff;
    }
    .inputMessage {
        background: #141828;
        border: 2px solid rgba(27,29,33,0.78);
        width: 90%;
        font-size: 18px;
    }

    .log {
        display: none;

    }
</style>

    {% endblock extend-style %}


</head>


<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                <div class="navbar-header">
                     
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                         <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="#">Brand</a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Link</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" />
                        </div> 
                        <button type="submit" class="btn btn-default">
                            Submit
                        </button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
            </nav>
            <div class="row">
                <div class="col-md-10">
                    <div class="page-header">
                        <h1>
                            LayoutIt! <small>Interface Builder for Bootstrap</small>
                        </h1>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-9" style="height: 600px;">
<video id="video" style="width: 100%;"></video>

                </div>
                <div class="col-md-3" style="height: 600px;">
                    <div>
                        <div class="chatArea">
                            <ul class="messages"></ul>
                        </div>
                        <input class="inputMessage" placeholder="Let's chat"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group btn-group-sm">
                         
                        <button class="btn btn-default" type="button">
                            <em class="glyphicon glyphicon-align-left"></em> Left
                        </button> 
                        <button class="btn btn-default" type="button">
                            <em class="glyphicon glyphicon-align-center"></em> Center
                        </button> 
                        <button class="btn btn-default" type="button">
                            <em class="glyphicon glyphicon-align-right"></em> Right
                        </button> 
                        <button class="btn btn-default" type="button">
                            <em class="glyphicon glyphicon-align-justify"></em> Justify
                        </button>
                    </div>
                    <div class="alert alert-success alert-dismissable">
                         
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            ×
                        </button>
                        <h4>
                            Alert!
                        </h4> <strong>Warning!</strong> Best check yo self, you're not looking too good. <a href="#" class="alert-link">alert link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.min.js"></script>
<script src="{% static "chatroom/chat.js" %}"></script>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>



<script>

    if(Hls.isSupported()) {
        var video = document.getElementById('video');
        var hls = new Hls();
        hls.loadSource("https://wowza.jwplayer.com/live/jelly.stream/playlist.m3u8");
        // hls.loadSource("http:///localhost/hls/" + "{{ show.m3u8|safe }}" + "/index.m3u8");
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED,function() {
            video.play();
        });
    }
</script>

</body>
